# ==========================
# PostgreSQL
# ==========================
POSTGRES_DB=ticketsdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ticketsdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=

# ==========================
# Mail
# ==========================
SPRING_MAIL_HOST=imap.gmail.com
SPRING_MAIL_PORT=993
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROTOCOL=imaps

# ==========================
# Jwt
# ==========================
JWT_SECRET=